<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Content</title>
  <script defer src="main.js"></script>
</head>
<body>
  <fieldset>
    <legend>CASE 1</legend>
    <h3>Default</h3>
    <test-component-1></test-component-1>
    <h3>Switched</h3>
    <test-component-1 foo-laa="false"></test-component-1>
  </fieldset>
  <fieldset>
    <legend>CASE 2</legend>
    <h3>Default</h3>
    <test-component-2></test-component-2>
    <h3>Switched</h3>
    <test-component-2 foo-laa="false"></test-component-2>
  </fieldset>
  <fieldset>
    <legend>CASE 3</legend>
    <h3>Default</h3>
    <test-component-3></test-component-3>
    <h3>Switched</h3>
    <test-component-3 foo-laa="false"></test-component-3>
  </fieldset>
  <fieldset>
    <legend>CASE 4</legend>
    <h3>Default</h3>
    <test-component-4></test-component-4>
    <h3>Switched</h3>
    <test-component-4 foo-laa="false"></test-component-4>
  </fieldset>
</body>
</html>