<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameEngine webgl tutorial</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Styles -->
  <link rel="stylesheet" href="style.css" />

  <script defer src="main.js"></script>
</head>

<body>
  <h1>WebGL2 following a tutorial</h1>
  <p>A tutorial by: <a href="https://webgl2fundamentals.org/webgl/lessons/webgl-fundamentals.html">https://webgl2fundamentals.org/webgl/lessons/webgl-fundamentals.html</a></p>
  <canvas>Your browser does not support HTML canvas</canvas>
</body>

</html>