:root {
  color-scheme: light dark;

  --color: light-dark(black, white);
  --lighter-color: light-dark(#353535, #b7b7b7);
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 0.25rem;
    &:last-child {
      margin-bottom: 0;
    }
    font-size: 12pt;
    font-family: monospace;
    color: var(--color);

    &.hidden {
      color: var(--lighter-color);
    }

    a {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-underline-offset: 2px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      span.icon {
        color: ;
        border-radius: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #2e49e2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 8pt;
      }
    }
  }
}