<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GamePolygonGenerator prototype</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Styles -->
  <link rel="stylesheet" href="style.css" />

  <script defer src="main.js"></script>
</head>

<body>
  <canvas id="image">Your browser does not support HTML canvas</canvas>
  <canvas id="display">Your browser does not support HTML canvas</canvas>
  
  <select value="0">
    <option value="0">Image Case 0</option>
    <option value="1">Image Case 1</option>
    <option value="2">Image Case 2</option>
    <option value="3">Image Case 3</option>
    <option value="4">Image Case 4</option>
    <option value="5">Image Case 5</option>
    <option value="6">Image Case 6</option>
    <option value="7">Image Case 7</option>
    <option value="8">Image Case 8</option>
    <option value="9">Image Case 9</option>
    <option value="10">Image Case 10</option>
    <option value="11">Image Case 11</option>
    <option value="12">Image Case 12</option>
  </select>
</body>

</html>