<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Container prototype</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Styles -->
  <link rel="stylesheet" href="style.css" />

  <script defer src="main.js"></script>
</head>

<body>
  <pap-card>
    <pap-typography slot="header" variant="h4">Title</pap-typography>
    <pap-codeblock display="both">
      <pap-container>
        <h3>im inside a container</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor in est repellat vel sint. Reiciendis
          molestiae
          cupiditate libero consequuntur eum impedit, itaque aspernatur aut accusamus doloribus laboriosam natus
          veniam
          est?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero culpa dolores magni distinctio et
          voluptatem
          dicta minima voluptas, hic, excepturi, quibusdam eveniet aliquam accusamus atque corrupti doloremque? Omnis,
          rem facilis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatem? Doloribus dolore dolorem
          quibusdam atque iure, maiores impedit voluptatem, quis accusantium vitae, eos quisquam sed. Unde quisquam id
          facere doloribus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt laborum distinctio nostrum illum.
          Vel
          modi ipsa iusto nam nisi quo quaerat, magni doloremque exercitationem minima maxime delectus aut. Aliquam.
        </p>
      </pap-container>
    </pap-codeblock>
  </pap-card>
</body>

</html>