:host {
    --background: var(--o-color-neutral-200);
    --border: var(--o-color-neutral-300);

    o-box-template {
        background-color: var(--background);
        border: 1px solid var(--border);
        color: var(--o-color-black);
    
        width: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        box-sizing: border-box;
    }
}
