# directories
node_modules/
packages/**/lib/
packages/**/build/
isolated/
.temp/
.npm/
temp/

bin/version/.config


# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore any configuration files that may contain sensitive data
.env.local
.env.development.local
.env.test.local
.env.production.local
