# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/
isolated/
web/
combined/
.devserver-temp/
.temp/

# Ignore npm cache
.npmrc
.npm/

# Ignore editor files
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore any configuration files that may contain sensitive data
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Python virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
lib/