:host {
  // cursor: var(--pap-button-cursor, pointer);

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  display: inline-flex;
  align-items: center;

  border-style: solid;
  border-width: 2px;
  border-color: transparent;

  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
  isolation: isolate;

  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  cursor: pointer;

  padding-inline: var(--padding-small, 8px);
  transition: background-color var(--timing-slow, 120ms) ease,
    color var(--timing-fast, 30ms) ease;

  pap-prefix-suffix {
    // flex: 1;
    gap: 0;
    padding-inline: var(--padding-small, 4px);

    &::part(content) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-inline: var(--padding-small, 8px);
      gap: var(--button-content-gap, var(--gap-small, 8px));
    }
  }

  span[part=overlay] {
    overflow: hidden;
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);

    &::after {
      content: '';
      position: absolute;
      top: var(--y, 50%);
      left: var(--x, 50%);
      translate: -50% -50%;
      width: 10%;
      aspect-ratio: 1;
      border-radius: 50%;

      opacity: 0;
      background-color: color-mix(in srgb, var(--background), var(--text-contrast) 30%);
    }
  }
}

:host([square]),
:host([circle]) {
  aspect-ratio: 1;
  padding: 0;

  pap-prefix-suffix {
    padding: 0;
  }
}

:host([circle]) {
  border-radius: 1000px;
}

// COLORS 
:host([color=primary]) {
  --background: var(--pap-primary, #080808);
  --text: var(--pap-primary-text, #080808);
  --text-contrast: var(--pap-primary-contrast, #f7f7f7);
  --text-active: var(--pap-text-inverse, #f7f7f7);
}

:host([color=secondary]) {
  --background: var(--pap-secondary, #f7f7f7);
  --text: var(--pap-secondary-text, #f7f7f7);
  --text-contrast: var(--pap-secondary-contrast, #080808);
  // --text-active: var(--pap-text-inverse, #f7f7f7);
}

:host([color=tertiary]) {
  --background: var(--pap-tertiary, cornflowerblue);
  --text: var(--pap-tertiary-text, #f7f7f7);
  --text-contrast: var(--pap-tertiary-contrast, #f7f7f7);
}

:host([color=error]) {
  --background: var(--pap-error, #c31f1f);
  --text: var(--pap-error-text, #f7f7f7);
  --text-contrast: var(--pap-error-contrast, #f7f7f7);
}

:host([color=warning]) {
  --background: var(--pap-warning, #ff9900);
  --text: var(--pap-warning-text, #f7f7f7);
  --text-contrast: var(--pap-warning-contrast, #f7f7f7);
}

:host([color=information]) {
  --background: var(--pap-information, RoyalBlue);
  --text: var(--pap-information-text, #f7f7f7);
  --text-contrast: var(--pap-information-contrast, #f7f7f7);
}

:host([color=success]) {
  --background: var(--pap-success, OliveDrab);
  --text: var(--pap-success-text, #f7f7f7);
  --text-contrast: var(--pap-success-contrast, #f7f7f7);
}

// VARIANTS 
:host([variant=filled]) {
  background: var(--background);
  color: var(--text-contrast);
}

:host([variant=clear]) {
  color: var(--text);
}

:host([variant=outlined]) {
  color: var(--text);
  border-color: var(--background);
}

// STATES 
// :host(:hover) {
//   border-color: transparent;
//   // background: color-mix(in srgb, var(--background), var(--text-contrast) 20%);
//   color: var(--text-hover, var(--text-contrast)); // in case one wants to override 
// }

:host(:active) {
  border-color: transparent;
}

:host(.focus),
:host(:focus-visible) {
  outline-offset: 2px;
  outline: 2px solid var(--pap-border-strong, #29292F);
}

:host(.click) {
  background-color: color-mix(in srgb, var(--background), var(--text-contrast) 30%);
  color: var(--text-active, var(--pap-text, #080808));
  transition: background-color 1ms var(--timing-slow, 320ms) linear,
    color var(--timing-fast, 30ms) var(--timing-slow, 320ms) ease;

  span[part=overlay]::after {
    animation: click-circle-animation var(--timing-slow, 320ms) ease-out;
  }
}

:host([ripple="false"]) {
  span[part=overlay] {
    display: none;
  }
}

// DISABLED
:host([disabled]) {
  cursor: not-allowed;
  outline: none;
}

:host([variant=filled][disabled]) {
  background: var(--pap-disabled, #A3A9B7);
  color: var(--pap-text-disabled, #DADDE3);
}

:host([variant=clear][disabled]) {
  background: transparent;
  color: var(--pap-disabled, #A3A9B7);
}

:host([variant=outlined][disabled]) {
  background: transparent;
  border-color: var(--pap-disabled, #A3A9B7);
  color: var(--pap-disabled, #A3A9B7);
}

// MODES 
:host([mode=hug]) {
  display: inline-flex;
}

:host([mode=fill]) {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

:host(.content-flex-start) {
  pap-prefix-suffix {
    // flex: 1;

    &::part(content) {
      justify-content: flex-start;
      overflow-x: auto;
    }
  }
}

// radius 
:host([radius=small]),
:host([radius=small])>span[part=overlay] {
  border-radius: var(--radius-small, 4px);
}

:host([radius=medium]),
:host([radius=medium])>span[part=overlay] {
  border-radius: var(--radius-medium, 8px);
}

:host([radius=large]),
:host([radius=large])>span[part=overlay] {
  border-radius: var(--radius-large, 16px);
}

:host([radius=circle]),
:host([radius=circle])>span[part=overlay] {
  border-radius: var(--radius-circle, 1000px);
}

// size
:host([size=small]) {
  min-height: calc(var(--field-small, 32px) - 4px);
}

:host([size=medium]) {
  min-height: calc(var(--field-medium, 40px) - 4px);
}

:host([size=large]) {
  min-height: calc(var(--field-large, 48px) - 4px);
}

@keyframes click-circle-animation {
  from {
    opacity: 0;
    scale: 1;
  }

  to {
    opacity: 1;
    scale: var(--grow-target, 10);
  }
}