@property --gap {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: var(--popover-gap, var(--gap-smaller, 4px));
}

:host {
  position: relative;
  display: block;
  height: fit-content;
  --gap: var(--popover-gap, var(--gap-smaller, 4px));

  div[part="wrapper"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-medium, 2);
  }
}

:host([open="true"]) div[part="wrapper"] {
  display: block;
}

:host([open="false"]) div[part="wrapper"] {
  display: none;
}


// placement:: TOP
:host([placement="top-right"]) div[part="wrapper"] {
  padding-bottom: var(--gap);
  left: 100%;
  transform: translate(-100%, -100%);
}

:host([placement="top-center"]) div[part="wrapper"] {
  padding-bottom: var(--gap);
  left: 50%;
  transform: translate(-50%, -100%);
}

:host([placement="top-left"]) div[part="wrapper"] {
  padding-bottom: var(--gap);
  transform: translateY(-100%);
}

// placement:: BOTTOM
:host([placement="bottom-right"]) div[part="wrapper"] {
  padding-top: var(--gap);
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
}

:host([placement="bottom-center"]) div[part="wrapper"] {
  padding-top: var(--gap);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

:host([placement="bottom-left"]) div[part="wrapper"] {
  padding-top: var(--gap);
  top: 100%;
}

// placement:: LEFT
:host([placement="left-top"]) div[part="wrapper"] {
  padding-right: var(--gap);
  transform: translateX(-100%);
}

:host([placement="left-center"]) div[part="wrapper"] {
  padding-right: var(--gap);
  top: 50%;
  transform: translate(-100%, -50%);
}

:host([placement="left-bottom"]) div[part="wrapper"] {
  padding-right: var(--gap);
  top: 100%;
  transform: translate(-100%, -100%);
}

// placement:: RIGHT
:host([placement="right-top"]) div[part="wrapper"] {
  padding-left: var(--gap);
  left: 100%;
}

:host([placement="right-center"]) div[part="wrapper"] {
  padding-left: var(--gap);
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

:host([placement="right-bottom"]) div[part="wrapper"] {
  padding-left: var(--gap);
  left: 100%;
  top: 100%;
  transform: translateY(-100%);
}