:host,
:host > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

:host {
    justify-content: space-between;

    

    o-menu::part(box) {
        min-width: 15rem;
    }
}

@media (prefers-color-scheme: dark) {
    :host {
        
    }
}