:root {
  color-scheme: dark;
  /* UI colors */
  --pap-primary: var(--pap-white);
  --pap-secondary: #383838; // color-mix(in srgb, var(--pap-white) 20%, var(--pap-black));
  --pap-tertiary: salmon;
  /* states */
  --pap-error: #fd4444;
  --pap-success: #64e41a;
  --pap-warning: #ffd94e;
  --pap-information: #a0bef4; // hsl(from cornflowerblue h s calc(l * 1.2));
  /* base text colors */
  --pap-text: var(--pap-white);
  --pap-link: #36CEFA;
  --pap-text-inverse: var(--pap-black);

  /* disabled colors */
  --pap-text-disabled: #444F59;
  --pap-disabled: #8B9BAB;

  /* primary colors */
  --pap-primary-text: var(--pap-text);
  --pap-primary-contrast: var(--pap-text-inverse);

  /* secondary colors */
  --pap-secondary-text: #c7c7c7; // color-mix(in srgb, var(--pap-white) 80%, var(--pap-black));
  --pap-secondary-contrast: var(--pap-text);

  /* tertiary colors */
  --pap-tertiary-text: #fdd9d4; // hsl(from var(--pap-tertiary) h s calc(l * 1.28));
  --pap-tertiary-contrast: var(--pap-text-inverse);

  /* error colors */
  --pap-error-text: #fd2424; // hsl(from var(--pap-error) h s calc(l * 0.9));
  --pap-error-contrast: var(--pap-text-inverse);

  /* success colors */
  --pap-success-text: #5acd17; // hsl(from var(--pap-success) h s calc(l * 0.9));
  --pap-success-contrast: var(--pap-text-inverse);

  /* warning colors */
  --pap-warning-text: #ffd22d; // hsl(from var(--pap-warning) h s calc(l * 0.9));
  --pap-warning-contrast: var(--pap-text-inverse);

  /* information colors */
  --pap-information-text: #83aaf1; // hsl(from var(--pap-information) h s calc(l * 0.92));
  --pap-information-contrast: var(--pap-text-inverse);

  /* foreground colors */
  --pap-foreground: #0a0a0a; // color-mix(in srgb, var(--pap-white), var(--pap-black) 99%);
  --pap-foreground-1: #121212; // color-mix(in srgb, var(--pap-white), var(--pap-black) 96%);
  --pap-foreground-2: #191919; // color-mix(in srgb, var(--pap-white), var(--pap-black) 93%);
  --pap-foreground-3: #202020; // color-mix(in srgb, var(--pap-white), var(--pap-black) 90%);

  /* background colors */
  --pap-background: #272727; // color-mix(in srgb, var(--pap-white), var(--pap-black) 87%);
  --pap-background-1: #2e2e2e; // color-mix(in srgb, var(--pap-white), var(--pap-black) 84%);
  --pap-background-2: #353535; // color-mix(in srgb, var(--pap-white), var(--pap-black) 81%);
  --pap-background-3: #3d3d3d; // color-mix(in srgb, var(--pap-white), var(--pap-black) 78%);

  /* inverse foreground colors */
  --pap-foreground-inverse: #f5f5f5; // color-mix(in srgb, var(--pap-white) 99%, var(--pap-black));
  --pap-foreground-inverse-1: #e6e6e6; // color-mix(in srgb, var(--pap-white) 96%, var(--pap-black));
  --pap-foreground-inverse-2: #e6e6e6; // color-mix(in srgb, var(--pap-white) 93%, var(--pap-black));
  --pap-foreground-inverse-3: #dfdfdf; // color-mix(in srgb, var(--pap-white) 90%, var(--pap-black));

  /* inverse background colors */
  --pap-background-inverse: #d8d8d8; // color-mix(in srgb, var(--pap-white) 87%, var(--pap-black));
  --pap-background-inverse-1: #d1d1d1; // color-mix(in srgb, var(--pap-white) 84%, var(--pap-black));
  --pap-background-inverse-2: #cacaca; // color-mix(in srgb, var(--pap-white) 81%, var(--pap-black));
  --pap-background-inverse-3: #c2c2c2; // color-mix(in srgb, var(--pap-white) 78%, var(--pap-black));

  
  /* border colors */
  --pap-border: #252525; // color-mix(in srgb, var(--pap-white), var(--pap-black) 88%);
  --pap-border-1: #383838; // color-mix(in srgb, var(--pap-white), var(--pap-black) 80%);
  --pap-border-2: #4b4b4b; // color-mix(in srgb, var(--pap-white), var(--pap-black) 72%);
  --pap-border-3: #5e5e5e; // color-mix(in srgb, var(--pap-white), var(--pap-black) 64%);
  --pap-border-strong: var(--pap-white);

  /* shadow colors */
  --pap-shadow: #f7f7f726; // color-mix(in srgb, var(--pap-white), transparent 90%);
  --pap-shadow-1: #f7f7f766; // color-mix(in srgb, var(--pap-white), transparent 60%);
  --pap-shadow-2: #f7f7f7cc; // color-mix(in srgb, var(--pap-white), transparent 20%);
  --pap-shadow-3: var(--pap-white);
}