:root {
  color-scheme: light;
  /* UI colors */
  --pap-primary: var(--pap-black);
  /* #080808 */
  --pap-secondary: #c7c7c7; // color-mix(in srgb, var(--pap-white), var(--pap-black) 20%);
  --pap-tertiary: cornflowerblue;
  /* states */
  --pap-error: #c31f1f;
  --pap-success: OliveDrab;
  --pap-warning: #ff9900;
  --pap-information: RoyalBlue;
  /* base text colors */
  --pap-text: #29292F; // #080808 
  --pap-link: #0177A3;
  --pap-text-inverse: var(--pap-white);
  /* #f7f7f7 */

  /* disabled colors */
  --pap-text-disabled: #DADDE3;
  --pap-disabled: #A3A9B7;

  /* primary colors */
  --pap-primary-text: var(--pap-text);
  /* #080808 */
  --pap-primary-contrast: var(--pap-text-inverse); // maybe can ommit this by : var(--pap-primary-contrast, var(--pap-text-contrast)) 
  /* #f7f7f7 */

  /* secondary colors */
  --pap-secondary-text: #383838; // color-mix(in srgb, var(--pap-white), var(--pap-black) 80%);
  --pap-secondary-contrast: var(--pap-text-inverse);
  /* #080808 */

  /* tertiary colors */
  --pap-tertiary-text: #195ed9; // hsl(from var(--pap-tertiary) h s calc(l * 0.72));
  --pap-tertiary-contrast: var(--pap-text-inverse);
  /* #f7f7f7 */

  /* error colors */
  --pap-error-text: #8c1616; // hsl(from var(--pap-error) h s calc(l * 0.72));
  --pap-error-contrast: var(--pap-text-inverse);
  /* #f7f7f7 */

  /* success colors */
  --pap-success-text: #4d6619; // hsl(from var(--pap-success) h s calc(l * 0.72));
  --pap-success-contrast: var(--pap-text-inverse);
  /* #f7f7f7 */

  /* warning colors */
  --pap-warning-text: #b86e00; // hsl(from var(--pap-warning) h s calc(l * 0.72));
  --pap-warning-contrast: var(--pap-text-inverse);
  /* #f7f7f7 */

  /* information colors */
  --pap-information-text: #1c42b4; // hsl(from var(--pap-information) h s calc(l * 0.72));
  --pap-information-contrast: var(--pap-text-inverse);
  /* #f7f7f7 */

  /* foreground colors */
  --pap-foreground: #f5f5f5; // color-mix(in srgb, var(--pap-white) 99%, var(--pap-black));
  --pap-foreground-1: #e6e6e6; // color-mix(in srgb, var(--pap-white) 96%, var(--pap-black));
  --pap-foreground-2: #e6e6e6; // color-mix(in srgb, var(--pap-white) 93%, var(--pap-black));
  --pap-foreground-3: #dfdfdf; // color-mix(in srgb, var(--pap-white) 90%, var(--pap-black));

  /* background colors */
  --pap-background: #d8d8d8; // color-mix(in srgb, var(--pap-white) 87%, var(--pap-black));
  --pap-background-1: #d1d1d1; // color-mix(in srgb, var(--pap-white) 84%, var(--pap-black));
  --pap-background-2: #cacaca; // color-mix(in srgb, var(--pap-white) 81%, var(--pap-black));
  --pap-background-3: #c2c2c2; // color-mix(in srgb, var(--pap-white) 78%, var(--pap-black));

  /* border colors */
  --pap-border: #dadada; // color-mix(in srgb, var(--pap-white) 88%, var(--pap-black));
  --pap-border-1: #c7c7c7; // color-mix(in srgb, var(--pap-white) 80%, var(--pap-black));
  --pap-border-2: #b4b4b4; // color-mix(in srgb, var(--pap-white) 72%, var(--pap-black));
  --pap-border-3: #a1a1a1; // color-mix(in srgb, var(--pap-white) 64%, var(--pap-black));
  --pap-border-strong: var(--pap-black);

  /* inverse foreground colors */
  --pap-foreground-inverse: #0a0a0a; // color-mix(in srgb, var(--pap-white), var(--pap-black) 99%);
  --pap-foreground-inverse-1: #121212; // color-mix(in srgb, var(--pap-white), var(--pap-black) 96%);
  --pap-foreground-inverse-2: #191919; // color-mix(in srgb, var(--pap-white), var(--pap-black) 93%);
  --pap-foreground-inverse-3: #202020; // color-mix(in srgb, var(--pap-white), var(--pap-black) 90%);

  /* inverse background colors */
  --pap-background-inverse: #272727; // color-mix(in srgb, var(--pap-white), var(--pap-black) 87%);
  --pap-background-inverse-1: #2e2e2e; // color-mix(in srgb, var(--pap-white), var(--pap-black) 84%);
  --pap-background-inverse-2: #353535; // color-mix(in srgb, var(--pap-white), var(--pap-black) 81%);
  --pap-background-inverse-3: #3d3d3d; // color-mix(in srgb, var(--pap-white), var(--pap-black) 78%);

  /* shadow colors */
  --pap-shadow: #0808081a; // color-mix(in srgb, var(--pap-black), transparent 90%);
  /* #0808081a */
  --pap-shadow-1: #08080866; // color-mix(in srgb, var(--pap-black), transparent 60%);
  /* #08080866 */
  --pap-shadow-2: #080808b3; // color-mix(in srgb, var(--pap-black), transparent 30%);
  /* #080808b3 */
  --pap-shadow-3: var(--pap-black);
  /* #080808 */
}