:root {
  --icon-container-size: 40px;

  /* FONT RELATED */
  --default-fontfamily: 'Poppins', sans-serif;
  
  --typography-h1-fontfamily: var(--default-fontfamily);
  --typography-h1-fontsize: 140px;
  --typography-h1-fontweight: 800;
  --typography-h1-lineheight: 168px;
  --typography-h1-letterspacing: 0em;

  --typography-h2-fontfamily: var(--default-fontfamily);
  --typography-h2-fontsize: 88px;
  --typography-h2-fontweight: 800;
  --typography-h2-lineheight: 106px;
  --typography-h2-letterspacing: 0em;

  --typography-h3-fontfamily: var(--default-fontfamily);
  --typography-h3-fontsize: 72px;
  --typography-h3-fontweight: 700;
  --typography-h3-lineheight: 86px;
  --typography-h3-letterspacing: 0em;

  --typography-h4-fontfamily: var(--default-fontfamily);
  --typography-h4-fontsize: 64px;
  --typography-h4-fontweight: 700;
  --typography-h4-lineheight: 77px;
  --typography-h4-letterspacing: 0em;

  --typography-h5-fontfamily: var(--default-fontfamily);
  --typography-h5-fontsize: 56px;
  --typography-h5-fontweight: 700;
  --typography-h5-lineheight: 67px;
  --typography-h5-letterspacing: 0em;

  --typography-t1-fontfamily: var(--default-fontfamily);
  --typography-t1-fontsize: 48px;
  --typography-t1-fontweight: 700;
  --typography-t1-lineheight: 58px;
  --typography-t1-letterspacing: 0em;

  --typography-t2-fontfamily: var(--default-fontfamily);
  --typography-t2-fontsize: 40px;
  --typography-t2-fontweight: 700;
  --typography-t2-lineheight: 56px;
  --typography-t2-letterspacing: 0em;

  --typography-t3-fontfamily: var(--default-fontfamily);
  --typography-t3-fontsize: 32px;
  --typography-t3-fontweight: 600;
  --typography-t3-lineheight: 38px;
  --typography-t3-letterspacing: 0em;

  --typography-t4-fontfamily: var(--default-fontfamily);
  --typography-t4-fontsize: 24px;
  --typography-t4-fontweight: 600;
  --typography-t4-lineheight: 34px;
  --typography-t4-letterspacing: 0em;

  --typography-c1-fontfamily: var(--default-fontfamily);
  --typography-c1-fontsize: 24px;
  --typography-c1-fontweight: 500;
  --typography-c1-lineheight: 34px;
  --typography-c1-letterspacing: 0.01em;

  --typography-c2-fontfamily: var(--default-fontfamily);
  --typography-c2-fontsize: 16px;
  --typography-c2-fontweight: 600;
  --typography-c2-lineheight: 22px;
  --typography-c2-letterspacing: 0.01em;

  --typography-c3-fontfamily: var(--default-fontfamily);
  --typography-c3-fontsize: 16px;
  --typography-c3-fontweight: 400;
  --typography-c3-lineheight: 24px;
  --typography-c3-letterspacing: 0.01em;

  --typography-c4-fontfamily: var(--default-fontfamily);
  --typography-c4-fontsize: 14px;
  --typography-c4-fontweight: 400;
  --typography-c4-lineheight: 20px;
  --typography-c4-letterspacing: 0.01em;
}

/* HEADINGS */
.typography-heading1,
.typography-h1 {
  text-align: left;
  display: block;
  font-family: var(--typography-h1-fontfamily);
  font-size: var(--typography-h1-fontsize);
  font-weight: var(--typography-h1-fontweight);
  line-height: var(--typography-h1-lineheight);
  letter-spacing: var(--typography-h1-letterspacing);
}
.typography-heading2,
.typography-h2 {
  text-align: left;
  display: block;
  font-family: var(--typography-h2-fontfamily);
  font-size: var(--typography-h2-fontsize);
  font-weight: var(--typography-h2-fontweight);
  line-height: var(--typography-h2-lineheight);
  letter-spacing: var(--typography-h2-letterspacing);
}
.typography-heading2,
.typography-h3 {
  text-align: left;
  display: block;
  font-family: var(--typography-h3-fontfamily);
  font-size: var(--typography-h3-fontsize);
  font-weight: var(--typography-h3-fontweight);
  line-height: var(--typography-h3-lineheight);
  letter-spacing: var(--typography-h3-letterspacing);
}
.typography-heading4,
.typography-h4 {
  text-align: left;
  display: block;
  font-family: var(--typography-h4-fontfamily);
  font-size: var(--typography-h4-fontsize);
  font-weight: var(--typography-h4-fontweight);
  line-height: var(--typography-h4-lineheight);
  letter-spacing: var(--typography-h4-letterspacing);
}
.typography-heading5,
.typography-h5 {
  text-align: left;
  display: block;
  font-family: var(--typography-h5-fontfamily);
  font-size: var(--typography-h5-fontsize);
  font-weight: var(--typography-h5-fontweight);
  line-height: var(--typography-h5-lineheight);
  letter-spacing: var(--typography-h5-letterspacing);
}

/* TITLE */
.typography-title1,
.typography-t1 {
  text-align: left;
  display: block;
  font-family: var(--typography-t1-fontfamily);
  font-size: var(--typography-t1-fontsize);
  font-weight: var(--typography-t1-fontweight);
  line-height: var(--typography-t1-lineheight);
  letter-spacing: var(--typography-t1-letterspacing);
}
.typography-title2,
.typography-t2 {
  text-align: left;
  display: block;
  font-family: var(--typography-t2-fontfamily);
  font-size: var(--typography-t2-fontsize);
  font-weight: var(--typography-t2-fontweight);
  line-height: var(--typography-t2-lineheight);
  letter-spacing: var(--typography-t2-letterspacing);
}
.typography-title3,
.typography-t3 {
  text-align: left;
  display: block;
  font-family: var(--typography-t3-fontfamily);
  font-size: var(--typography-t3-fontsize);
  font-weight: var(--typography-t3-fontweight);
  line-height: var(--typography-t3-lineheight);
  letter-spacing: var(--typography-t3-letterspacing);
}
.typography-title4,
.typography-t4 {
  text-align: left;
  display: block;
  font-family: var(--typography-t4-fontfamily);
  font-size: var(--typography-t4-fontsize);
  font-weight: var(--typography-t4-fontweight);
  line-height: var(--typography-t4-lineheight);
  letter-spacing: var(--typography-t4-letterspacing);
  text-transform: uppercase;
}

/* COPY */
.typography-copy1,
.typography-c1 {
  text-align: left;
  display: block;
  font-family: var(--typography-c1-fontfamily);
  font-size: var(--typography-c1-fontsize);
  font-weight: var(--typography-c1-fontweight);
  line-height: var(--typography-c1-lineheight);
  letter-spacing: var(--typography-c1-letterspacing);
}
.typography-copy2,
.typography-c2 {
  text-align: left;
  display: block;
  font-family: var(--typography-c2-fontfamily);
  font-size: var(--typography-c2-fontsize);
  font-weight: var(--typography-c2-fontweight);
  line-height: var(--typography-c2-lineheight);
  letter-spacing: var(--typography-c2-letterspacing);
}
/* default case */
.typography, 
.typography-copy3,
.typography-c3 {
  text-align: left;
  display: block;
  font-family: var(--typography-c3-fontfamily);
  font-size: var(--typography-c3-fontsize);
  font-weight: var(--typography-c3-fontweight);
  line-height: var(--typography-c3-lineheight);
  letter-spacing: var(--typography-c3-letterspacing);
}
.typography-copy4,
.typography-c4 {
  text-align: left;
  display: block;
  font-family: var(--typography-c4-fontfamily);
  font-size: var(--typography-c4-fontsize);
  font-weight: var(--typography-c4-fontweight);
  line-height: var(--typography-c4-lineheight);
  letter-spacing: var(--typography-c4-letterspacing);
}