:root {
  --default-fontfamily: 'Poppins', sans-serif;

  --typography-h1-fontfamily: var(--default-fontfamily);
  --typography-h1-fontsize: 140px;
  --typography-h1-fontweight: 800;
  --typography-h1-lineheight: 168px;
  --typography-h1-letterspacing: 0em;

  --typography-h2-fontfamily: var(--default-fontfamily);
  --typography-h2-fontsize: 88px;
  --typography-h2-fontweight: 800;
  --typography-h2-lineheight: 106px;
  --typography-h2-letterspacing: 0em;

  --typography-h3-fontfamily: var(--default-fontfamily);
  --typography-h3-fontsize: 72px;
  --typography-h3-fontweight: 700;
  --typography-h3-lineheight: 86px;
  --typography-h3-letterspacing: 0em;

  --typography-h4-fontfamily: var(--default-fontfamily);
  --typography-h4-fontsize: 64px;
  --typography-h4-fontweight: 700;
  --typography-h4-lineheight: 77px;
  --typography-h4-letterspacing: 0em;

  --typography-h5-fontfamily: var(--default-fontfamily);
  --typography-h5-fontsize: 56px;
  --typography-h5-fontweight: 700;
  --typography-h5-lineheight: 67px;
  --typography-h5-letterspacing: 0em;

  --typography-t1-fontfamily: var(--default-fontfamily);
  --typography-t1-fontsize: 48px;
  --typography-t1-fontweight: 700;
  --typography-t1-lineheight: 58px;
  --typography-t1-letterspacing: 0em;

  --typography-t2-fontfamily: var(--default-fontfamily);
  --typography-t2-fontsize: 40px;
  --typography-t2-fontweight: 700;
  --typography-t2-lineheight: 56px;
  --typography-t2-letterspacing: 0em;

  --typography-t3-fontfamily: var(--default-fontfamily);
  --typography-t3-fontsize: 32px;
  --typography-t3-fontweight: 600;
  --typography-t3-lineheight: 38px;
  --typography-t3-letterspacing: 0em;

  --typography-t4-fontfamily: var(--default-fontfamily);
  --typography-t4-fontsize: 24px;
  --typography-t4-fontweight: 600;
  --typography-t4-lineheight: 34px;
  --typography-t4-letterspacing: 0em;

  --typography-c1-fontfamily: var(--default-fontfamily);
  --typography-c1-fontsize: 24px;
  --typography-c1-fontweight: 500;
  --typography-c1-lineheight: 34px;
  --typography-c1-letterspacing: 0.01em;

  --typography-c2-fontfamily: var(--default-fontfamily);
  --typography-c2-fontsize: 16px;
  --typography-c2-fontweight: 600;
  --typography-c2-lineheight: 22px;
  --typography-c2-letterspacing: 0.01em;

  --typography-c3-fontfamily: var(--default-fontfamily);
  --typography-c3-fontsize: 16px;
  --typography-c3-fontweight: 400;
  --typography-c3-lineheight: 24px;
  --typography-c3-letterspacing: 0.01em;

  --typography-c4-fontfamily: var(--default-fontfamily);
  --typography-c4-fontsize: 14px;
  --typography-c4-fontweight: 400;
  --typography-c4-lineheight: 20px;
  --typography-c4-letterspacing: 0.01em;
}

/* HEADINGS */
.typography-heading1,
.typography-h1 {
  text-align: left;
  display: block;
  font-family: var(--typography-h1-fontfamily);
  font-size: var(--typography-h1-fontsize);
  font-weight: var(--typography-h1-fontweight);
  line-height: var(--typography-h1-lineheight);
  letter-spacing: var(--typography-h1-letterspacing);
}
.typography-heading2,
.typography-h2 {
  text-align: left;
  display: block;
  font-family: var(--typography-h2-fontfamily);
  font-size: var(--typography-h2-fontsize);
  font-weight: var(--typography-h2-fontweight);
  line-height: var(--typography-h2-lineheight);
  letter-spacing: var(--typography-h2-letterspacing);
}
.typography-heading2,
.typography-h3 {
  text-align: left;
  display: block;
  font-family: var(--typography-h3-fontfamily);
  font-size: var(--typography-h3-fontsize);
  font-weight: var(--typography-h3-fontweight);
  line-height: var(--typography-h3-lineheight);
  letter-spacing: var(--typography-h3-letterspacing);
}
.typography-heading4,
.typography-h4 {
  text-align: left;
  display: block;
  font-family: var(--typography-h4-fontfamily);
  font-size: var(--typography-h4-fontsize);
  font-weight: var(--typography-h4-fontweight);
  line-height: var(--typography-h4-lineheight);
  letter-spacing: var(--typography-h4-letterspacing);
}
.typography-heading5,
.typography-h5 {
  text-align: left;
  display: block;
  font-family: var(--typography-h5-fontfamily);
  font-size: var(--typography-h5-fontsize);
  font-weight: var(--typography-h5-fontweight);
  line-height: var(--typography-h5-lineheight);
  letter-spacing: var(--typography-h5-letterspacing);
}

/* TITLE */
.typography-title1,
.typography-t1 {
  text-align: left;
  display: block;
  font-family: var(--typography-t1-fontfamily);
  font-size: var(--typography-t1-fontsize);
  font-weight: var(--typography-t1-fontweight);
  line-height: var(--typography-t1-lineheight);
  letter-spacing: var(--typography-t1-letterspacing);
}
.typography-title2,
.typography-t2 {
  text-align: left;
  display: block;
  font-family: var(--typography-t2-fontfamily);
  font-size: var(--typography-t2-fontsize);
  font-weight: var(--typography-t2-fontweight);
  line-height: var(--typography-t2-lineheight);
  letter-spacing: var(--typography-t2-letterspacing);
}
.typography-title3,
.typography-t3 {
  text-align: left;
  display: block;
  font-family: var(--typography-t3-fontfamily);
  font-size: var(--typography-t3-fontsize);
  font-weight: var(--typography-t3-fontweight);
  line-height: var(--typography-t3-lineheight);
  letter-spacing: var(--typography-t3-letterspacing);
}
.typography-title4,
.typography-t4 {
  text-align: left;
  display: block;
  font-family: var(--typography-t4-fontfamily);
  font-size: var(--typography-t4-fontsize);
  font-weight: var(--typography-t4-fontweight);
  line-height: var(--typography-t4-lineheight);
  letter-spacing: var(--typography-t4-letterspacing);
  text-transform: uppercase;
}

/* COPY */
.typography-copy1,
.typography-c1 {
  text-align: left;
  display: block;
  font-family: var(--typography-c1-fontfamily);
  font-size: var(--typography-c1-fontsize);
  font-weight: var(--typography-c1-fontweight);
  line-height: var(--typography-c1-lineheight);
  letter-spacing: var(--typography-c1-letterspacing);
}
.typography-copy2,
.typography-c2 {
  text-align: left;
  display: block;
  font-family: var(--typography-c2-fontfamily);
  font-size: var(--typography-c2-fontsize);
  font-weight: var(--typography-c2-fontweight);
  line-height: var(--typography-c2-lineheight);
  letter-spacing: var(--typography-c2-letterspacing);
}
/* default case */
.typography, 
.typography-copy3,
.typography-c3 {
  text-align: left;
  display: block;
  font-family: var(--typography-c3-fontfamily);
  font-size: var(--typography-c3-fontsize);
  font-weight: var(--typography-c3-fontweight);
  line-height: var(--typography-c3-lineheight);
  letter-spacing: var(--typography-c3-letterspacing);
}
.typography-copy4,
.typography-c4 {
  text-align: left;
  display: block;
  font-family: var(--typography-c4-fontfamily);
  font-size: var(--typography-c4-fontsize);
  font-weight: var(--typography-c4-fontweight);
  line-height: var(--typography-c4-lineheight);
  letter-spacing: var(--typography-c4-letterspacing);
}
:root {
  /* PRIMARY COLORS */
  --o-color-primary-50: #F0FAFF;
  --o-color-primary-100: #E0F5FE;
  --o-color-primary-200: #B9ECFE;
  --o-color-primary-300: #7CDEFD;
  --o-color-primary-400: #36CEFA;
  --o-color-primary-500: #0CB9EB;
  --o-color-primary-600: #009DD3;
  --o-color-primary-700: #0177A3;
  --o-color-primary-800: #066486;
  --o-color-primary-900: #0B526F;
  --o-color-primary-950: #07354A;

  /* SUCCESS COLORS */
  --o-color-success-50: #F0FBEA;
  --o-color-success-100: #DDF7D0;
  --o-color-success-200: #CAF2B8;
  --o-color-success-300: #94E274;
  --o-color-success-400: #6ED348;
  --o-color-success-500: #4FB82A;
  --o-color-success-600: #3A931D;
  --o-color-success-700: #2E701B;
  --o-color-success-800: #29591B;
  --o-color-success-900: #244C1B;
  --o-color-success-950: #0F2A09;
  
  /* WARNING COLORS */
  --o-color-warnings-50: #FFFDEA;
  --o-color-warnings-100: #FFF6C5;
  --o-color-warnings-200: #FFED85;
  --o-color-warnings-300: #FFDD46;
  --o-color-warnings-400: #FFCE00;
  --o-color-warnings-500: #FFA800;
  --o-color-warnings-600: #E27F00;
  --o-color-warnings-700: #BB5802;
  --o-color-warnings-800: #984308;
  --o-color-warnings-900: #7C370B;
  --o-color-warnings-950: #481B00;
  
  /* DANGER COLORS */
  --o-color-danger-50: #FFF1F2;
  --o-color-danger-100: #FFE0E3;
  --o-color-danger-200: #FFC6CB;
  --o-color-danger-300: #FF9EA7;
  --o-color-danger-400: #FF6674;
  --o-color-danger-500: #FD3649;
  --o-color-danger-600: #EB172B;
  --o-color-danger-700: #B70E1E;
  --o-color-danger-800: #A3111F;
  --o-color-danger-900: #871520;
  --o-color-danger-950: #4A050C;
  
  /* NEUTRAL COLORS */
  --o-color-neutral-0: #FFFFFF;
  --o-color-neutral-50: #FFFFFF;
  --o-color-neutral-100: #EFEFEF;
  --o-color-neutral-200: #DCDCDC;
  --o-color-neutral-300: #BDBDBD;
  --o-color-neutral-400: #989898;
  --o-color-neutral-500: #7C7C7C;
  --o-color-neutral-600: #656565;
  --o-color-neutral-700: #525252;
  --o-color-neutral-800: #464646;
  --o-color-neutral-900: #292929;
  --o-color-neutral-950: #000000;
  --o-color-neutral-1000: #000000;


  /* CANVAS COLORS */
  --o-color-canvas-50: #F6F7F8;
  --o-color-canvas-100: #EAEBEF;
  --o-color-canvas-200: #DADDE3;
  --o-color-canvas-300: #C7CBD4;
  --o-color-canvas-400: #C7CBD4;
  --o-color-canvas-500: #8C91A5;
  --o-color-canvas-600: #7B7F95;
  --o-color-canvas-700: #6E7087;
  --o-color-canvas-800: #5D5E70;
  --o-color-canvas-900: #4D4E5B;
  --o-color-canvas-950: #31323A;
  
  /* BLACK/WHITE COLORS */
  --o-color-white: var(--o-color-neutral-0);
  --o-color-black: var(--o-color-neutral-1000);
}  
:root {
  /* NEUTRAL COLORS */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F8F8F8;
  --color-neutral-300: #F1F1F4;
  --color-neutral-400: #DCDDE3;
  --color-neutral-500: #C7CBD4;
  --color-neutral-600: #A6ADBA;

  /* PRIMARY COLORS */
  --color-primary-100: #8A8D96;
  --color-primary-200: #5F6067;
  --color-primary-300: #313235;
  --color-primary-400: #292A2E;
  --color-primary-500: #161618;
  --color-primary-600: #000000;

  /* B1 COLORS */
  --color-b1-100: #E7F2FC;
  --color-b1-200: #D6E8F9;
  --color-b1-300: #009DD3;
  --color-b1-400: #1B4A90;
  --color-b1-500: #0A377A;
  --color-b1-600: #002652;

  /* B2 COLORS */
  --color-b2-100: #FFF9BF;
  --color-b2-200: #FCE78E;
  --color-b2-300: #FFCE00;
  --color-b2-400: #FFA800;
  --color-b2-500: #D36500;
  --color-b2-600: #CA4900;

  /* ACCENT COLORS */
  --color-accent-100: #E7E7FC;
  --color-accent-200: #D8D8F6;
  --color-accent-300: #5454A9;
  --color-accent-400: #3F3F9B;
  --color-accent-500: #29298D;
  --color-accent-600: #191966;

  /* SUCCESS COLORS */
  --color-success-100: #DFFFDE;
  --color-success-200: #CAF2B8;
  --color-success-300: #17834F;
  --color-success-400: #16724B;
  --color-success-500: #0E5F4B;
  --color-success-600: #06423E;
  
  /* ERROR COLORS */
  --color-error-100: #FCE7E7;
  --color-error-200: #EFAEB2;
  --color-error-300: #B70E1E;
  --color-error-400: #9E0F1D;
  --color-error-500: #880F1B;
  --color-error-600: #7C1515;
}
:root {
  /* PADDINGS */ 
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;

  /* MARGINS */
  --margin-small: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;

  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 24px;
}
