:root {
  /* PADDINGS */ 
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;

  /* MARGINS */
  --margin-small: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;

  /* GAPS */
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 24px;
}