:host {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;

  div[part="wrapper"] {
    position: absolute;
    overflow: hidden;
    background-color: var(--pap-white, #f7f7f7);

    pap-accordion {
      height: 100%;

      display: grid;
      overflow: hidden;

      div[part="group"] {
        overflow: hidden;
      }
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    pointer-events: none;

    background-color: var(--pap-black, #080808);
    opacity: 0;
    transition: opacity 300ms ease;
  }

  div[part="content"] {
    height: 100%;
    width: var(--aside-width);
  }
}

:host([radius="small"]) {
  border-radius: var(--radius-small, 4px),
}

:host([radius="medium"]) {
  border-radius: var(--radius-medium, 8px),
}

:host([radius="large"]) {
  border-radius: var(--radius-large, 16px),
}

:host([elevation="small"]) {
  box-shadow: 0 2px 4px var(--pap-shadow, #0808081a);
}

:host([elevation="medium"]) {
  box-shadow: 0 4px 6px var(--pap-shadow, #0808081a);
}

:host([elevation="large"]) {
  box-shadow: 0 8px 12px var(--pap-shadow, #0808081a);
}

:host([elevation="x-large"]) {
  box-shadow: 0 16px 20px var(--pap-shadow, #0808081a);
}

// horizontal mode
:host([elevation-direction="horizontal"][elevation="small"]) {
  box-shadow: 2px 0 4px var(--pap-shadow, #0808081a);
}

:host([elevation-direction="horizontal"][elevation="medium"]) {
  box-shadow: 4px 0 6px var(--pap-shadow, #0808081a);
}

:host([elevation-direction="horizontal"][elevation="large"]) {
  box-shadow: 8px 0 12px var(--pap-shadow, #0808081a);
}

:host([elevation-direction="horizontal"][elevation="x-large"]) {
  box-shadow: 16px 0 20px var(--pap-shadow, #0808081a);
}

:host([mode="fixed"]) {
  position: fixed;
}

:host([open="true"]) {
  height: 100%;
  width: 100%;
  z-index: var(--z-index-medium, 2);

  &::before {
    opacity: 0.1;
  }
}

:host([mode="fixed"][open="true"]) {
  height: 100vh;
  width: 100vw;
}

:host([placement="left"]),
:host([placement="right"]) {
  grid-template-columns: 0fr;
  transition: grid-template-columns var(--accordion-easing, cubic-bezier(1, 0, 0, 1)) var(--timing-normal, 120ms);

  &>* {
    white-space: nowrap;
  }
}

:host([placement="top"]),
:host([placement="bottom"]) {
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--accordion-easing, cubic-bezier(1, 0, 0, 1)) var(--timing-normal, 120ms);
}


:host([placement="left"][open="true"]),
:host([placement="right"][open="true"]) {
  grid-template-columns: 1fr;

}

:host([placement="top"][open="true"]),
:host([placement="bottom"][open="true"]) {
  grid-template-rows: 1fr;

}


:host([placement="right"]) {
  div[part="wrapper"] {
    height: 100%;
    top: 0;
    right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

:host([placement="left"]) {
  div[part="wrapper"] {
    height: 100%;
    top: 0;
    left: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

:host([placement="top"]) {
  div[part="wrapper"] {
    width: 100%;
    top: 0;
    left: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

:host([placement="bottom"]) {
  div[part="wrapper"] {
    width: 100%;
    bottom: 0;
    left: 0;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}