@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --html-background: white;
  --html-color: black;
}

@media (prefers-color-scheme: dark) {
:root {
  --html-background: black;
  --html-color: white;
}
}

body {
  background-color: var(--html-background);
  color: var(--html-color);
}

body {
  font-family: Poppins, sans-serif;
}