:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {

    div[part="header-tabs"] {
      position: relative;
      display: inline-flex;
      align-items: center;
      gap: var(--gap-small, 8px);

      overflow-x: auto;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;

      /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }

      span[part=indicator] {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 100%;
        translate: 0 -100%;
        height: var(--tabs-indicator-height, var(--unit-size-1, 4px));
        background-color: var(--tabs-indicator-color, var(--pap-color-border-brand, #009DD3));

        transition: all var(--tabs-indicator-animation-easing, ease) var(--tabs-indicator-animation-duration, 200ms);

        // apply the radius 
        border-top-left-radius: var(--radius-small, 4px);
        border-top-right-radius: var(--radius-small, 4px);
      }
    }

    ::slotted(*[slot="header"]) {
      flex-grow: 1;
      z-index: 20;
    }
  }

  main[part="content"] {
    flex: 1;
  }
}

:host([scrolling="true"]) {
  main[part="content"] {
    max-height: var(--tabs-maxheight, 15rem);
    overflow-y: auto;
    scroll-snap-type: y proximity;
  }

  ::slotted(pap-tabs-content) {
    display: block;
  }
}