.hide {
  display: none;
}

.select>li {
  cursor: pointer;
}

section#network div#messages {

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li.me {
      margin-left: auto;
      padding: 1rem;
      border-radius: 1rem;
      border: 2px white bevel;
    }
  }
}