@media (prefers-color-scheme: light) {
  .theme-opposite {}

  :root {}
}

@media (prefers-color-scheme: dark) {
  .theme-opposite {}

  :root {}
}

.theme-light {}

.theme-dark {}


:root {
  --unit-1: 0.5rem;
  --unit-2: 1rem;
  --unit-3: 1.5rem;
  --unit-4: 2rem;
  --unit-5: 2.5rem;
  --unit-6: 3rem;
  --z-index-small: 1;
  --z-index-medium: 2;
  --z-index-large: 3;
  --radius-small: var(--unit-1);
  --radius-medium: var(--unit-2);
  --radius-large: var(--unit-3);
  --padding-small: var(--unit-1);
  --padding-medium: var(--unit-2);
  --padding-large: var(--unit-3);
  --margin-small: var(--unit-1);
  --margin-medium: var(--unit-2);
  --margin-large: var(--unit-3);
  --gap-small: var(--unit-1);
  --gap-medium: var(--unit-2);
  --gap-large: var(--unit-3);
  --field-small: var(--unit-4);
  --field-medium: var(--unit-5);
  --field-large: var(--unit-6);
  --timing-fast: 80ms;
  --timing-normal: 120ms;
  --timing-slow: 180ms;
  --breakpoint-mobile: 320px;
  --breakpoint-pad: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px
}