:root {
  /* BASIC */
  --unit-1: 4px; // increase by 4
  --unit-2: 8px;
  --unit-3: 12px;
  --unit-4: 16px;
  --unit-5: 20px;
  --unit-6: 24px; // increase by 8
  --unit-7: 32px;
  --unit-8: 40px;
  --unit-9: 48px;
  --unit-10: 56px;

  /* Z-INDEX */
  --z-index-small: 1;
  --z-index-medium: 2;
  --z-index-large: 3;

  /* RADIUS */
  --radius-small: var(--unit-1);
  --radius-medium: var(--unit-2);
  --radius-large: var(--unit-4);

  /* PADDING */
  --padding-small: var(--unit-1);
  --padding-medium: var(--unit-2);
  --padding-large: var(--unit-4);

  /* MARGIN */
  --margin-small: var(--unit-1);
  --margin-medium: var(--unit-2);
  --margin-large: var(--unit-4);

  /* MARGIN */
  --gap-small: var(--unit-1);
  --gap-medium: var(--unit-2);
  --gap-large: var(--unit-4);

  /* FIELD */
  --field-small: var(--unit-6);
  --field-medium: var(--unit-8);
  --field-large: var(--unit-9);

  /* TIMINGS */
  --timing-fast: 30ms;
  --timing-normal: 120ms;
  --timing-slow: 320ms;

  /* BREAKPOINTS */
  --breakpoint-mobile: 320px;
  --breakpoint-pad: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;
}