:host {
    --background: var(--o-color-white);
    --color: var(--o-color-black);

    o-button {
        background-color: var(--background);
        color: var(--color);
    }

    o-popover-template {
        display: inline-block;
    }

    o-box-template {
        display: block;
        // padding: 1rem 1.5rem;
        padding-block: var(--padding-small);
        min-width: 150px;
        background-color: var(--background);
    }
}

:host([open="true"]) {
    o-button {
        o-icon[name="caret"] {
            transform: rotate(180deg);
        }
    }
}
:host([open="false"]) {
    o-button {
        o-icon[name="caret"] {
            transform: rotate(0);
        }
    }
}

@media (prefers-color-scheme: dark) {
}