@font-face {
  font-family: 'Soehne Buch';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.openai.com/common/fonts/soehne/soehne-buch.woff2') format('woff2');
}

@font-face {
  font-family: 'Soehne Halbfett';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.openai.com/common/fonts/soehne/soehne-halbfett.woff2') format('woff2');
}

@font-face {
  font-family: 'Soehne Mono Buch';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch.woff2') format('woff2');
}

@font-face {
  font-family: 'Soehne Mono Halbfett';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.openai.com/common/fonts/soehne/soehne-mono-halbfett.woff2') format('woff2');
}

body {
  font-family: 'Soehne Buch', sans-serif;
}